<td class="align-middle d-flex align-items-center gap-4">
  <span>{{ user.id }}</span>
  <img [src]="user.avatar" class="rounded-square" />
</td>

<td class="align-middle">{{ user.first_name }}</td>
<td class="align-middle">{{ user.last_name }}</td>
<td class="align-middle">{{ user.email }}</td>

<td class="align-middle text-end">
  <div class="d-inline-flex align-items-center">
    <button class="btn btn-sm border-0 bg-transparent text-primary" (click)="edit.emit(user)">
      <i class="fas fa-pen-to-square"></i>
    </button>
    <button class="btn btn-sm border-0 bg-transparent text-primary" (click)="remove.emit(user.id)">
      <i class="fas fa-trash-can"></i>
    </button>
  </div>
</td>